html{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    background: yellow;
    margin: 0 auto;
}

.default-width{
    max-width: 1200px;
    background: pink;
}