footer{
    background-color: var(--footer-color);
    color: white;
}

.facebook-icon{
    content: url(../images/svg/facebook-brands.svg);
    width: 25px;
    height: 25px;
}

.insta-icon{
    content: url(../images/svg/instagram-brands.svg);
    width: 25px;
    height: 25px;
}

.twitter-icon{
    content: url(../images/svg/twitter-brands.svg);
    width: 25px;
    height: 25px;
}

.youtube-icon{
    content: url(../images/svg/youtube-brands.svg);
    width: 25px;
    height: 25px;
}