.logo{
    content: url(../images/iti-logo.svg);
    box-sizing: content-box;
    width: 45px;
    height: 45px;
    padding: 10px 20px;
}

@media screen and (min-width: 375px){
    /*  */
}

.logo-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.presentation-container{
    background-color: var(--primary-color);
}

.smartphone-img{
    content: url(../images/cartao-iti-smartphone.png);
}

.exit-button{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.2rem;
}